<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">
</head>
<body>
	<div class="header">
		<div>Courses</div>
		<div>Tutotrials</div>
		<div>Jobs</div>
		<div>Practice</div>
		<div>contest</div>

		<label name="search">Search</label>
		<input type="text" name="search">

	</div>

</body>
</html>